/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*SHARED*/
html {
    font-family: 'Open Sans', sans-serif;
}
:root {
    --white: rgb(243, 243, 243);
    --dark: #313337;
}
.flex {
    display: flex;
}
/*MAIN*/
.main {
    background-color: var(--dark);
    height: 100vh;
}
.main-checkout--section {
    color: var(--white);
}
.main-checkout--section a {
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
}
.checkout--container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}