@media (max-width: 900px) {
    .main-benefits--container {
        justify-content: center;
        gap: 30px;
        margin: 0 0 20px 0;
    }
    .main-mentions--container {
        margin: 0 10px 50px 10px;
    }
    .product-page--products {
        top: 5vh;
    }
    .product-page--footer {
        margin-top: 60px;
    }
}
@media (max-width: 400px) {
    .header-nav li {
        position: relative;
        max-width: 500px;
    }
}